body {
  background-color: bisque;
}
header {
  background: black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid orange;
  background-color: skyblue;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.location {
  font-size: 30px;
  color: black;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  cursor: pointer;
  transform: scale(1.2mm);
  box-shadow: #333;
}
.product-card {
  text-align: center;
}
.product-page {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: bisque;
}
.product-image img {
  width: 400px;
  height: auto;
}
.product-info {
  flex: 1;
  padding: 20px;
}
footer {
  background: #222;
  color: white;
  text-align: center;
  margin-top: 300px;
  padding: 15px;
  background-color: black;
}
a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
  display: inline-block;
  margin: 20px;
}
a:hover {
  background-color: black;
  color: #fff;
}
